{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Log In</h2>
<br>
<form method="post">
  {% csrf_token %}
 


  {% include 'includes/b5_form.html' with form=form %}
  <button type="submit" class="btn btn-success" style="margin-top:10px;" >Log In</button>
</form> 
{% endblock %}
