
{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Profile{% endblock %}

{% block content %}
<h2>Profile</h2>
<br>
<form method="post">
  {% csrf_token %}
 

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}

  {% for field in form.visible_fields %}
  
    <div class="form-group">
        <div class="col-md-3">
      {{ field.label_tag }}
    </div>
    <div class="col-md-6" >
      {% render_field field class="form-control" %}
    </div>
      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>

  {% endfor %}
  <button type="submit" class="btn btn-success" style="margin-top:10px;" >Log In</button>
</form> 
{% endblock %}