{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block  sidebar %}

{% endblock %}
{% block content %}

<div class="page-header">
<h1 style="text-align:center">{{headline}}</h1>
</div>
{% crispy form %}
{% endblock %}
