{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1>Welcome to the Dashboard</h1>
    <div class="col-md-24">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">Dashboard</a>
            <a href="#" class="list-group-item list-group-item-action">Reports</a>
            <a href="#" class="list-group-item list-group-item-action">Users</a>
        </div>
    </div>&nbsp;&nbsp;
    <div class="row">
       
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Statistics</h5>
                    <p class="card-text">Display statistics here.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Recent Activity</h5>
                    <p class="card-text">Display recent activity here.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Notifications</h5>
                    <p class="card-text">Display notifications here.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
