{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1 style="text-align:center">{{ headline }}</h1>
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            {% for field in form %}
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    {{ field|as_crispy_field }}
                    {{ field.errors }}
                </div>
            </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>
{% endblock %}
