{% extends 'base.html' %}

{% block title %}Portal{% endblock %}

{% block content %}

<div class="page-header">
  <h1 style="text-align:center">{{headline}}</h1>
  </div>

<form method="post">
  {% csrf_token %}
 
  {{ form.media }}

  {% include 'includes/b5_form.html' with form=form %}
  <button type="submit" class="btn btn-success" style="margin-top:10px;" >Save</button>
</form> 
<script>
  var elements = document.getElementsByClassName("django-ckeditor-widget" );
  elements[0].classList.add("form-control");
  
</script>
{% endblock %}
