{% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible shadow sfade show mx-5 mt-4" role="alert">
        
        {{ message | safe }}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}