
<div class="offcanvas offcanvas-start w-25" tabindex="-1" id="offcanvas" data-bs-keyboard="false" data-bs-backdrop="false">
    <div class="offcanvas-header">
        <h6 class="offcanvas-title d-none d-sm-block" id="offcanvas">Menu</h6>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body px-0">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start" id="menu">
            <li class="nav-item">
                <a href="#" class="nav-link text-truncate">
                    <i class="fs-5 bi-house"></i><span class="ms-1 d-none d-sm-inline">Home</span>
                </a>
            </li>
            <li>
                <a href="{% url 'abstract' %}"  class="nav-link text-truncate">
                    <i class="fs-5 bi-speedometer2"></i><span class="ms-1 d-none d-sm-inline">Abstract</span> </a>
           
                 
             </li>
            <li>
                <a href="{% url 'introduction' %}" class="nav-link text-truncate">
                    <i class="fs-5 bi-table"></i><span class="ms-1 d-none d-sm-inline">Introduction</span></a>
            </li>


            <li>
                <a href="{% url 'problemstatement' %}" class="nav-link text-truncate">
                    <i class="fs-5 bi bi-exclamation-triangle"></i><span class="ms-1 d-none d-sm-inline">Problem Statement</span></a>
            </li>

            <li>
                <a href="{% url 'objective' %}" class="nav-link text-truncate">
                    <i class ="fs-5 bi bi-bullseye"></i><span class="ms-1 d-none d-sm-inline">Objective</span></a>
            </li>

            <li>
                <a href="{% url 'system_architecture' %}" class="nav-link text-truncate">
                    <i class ="fs-5 bi bi-diagram-3"></i><span class="ms-1 d-none d-sm-inline">System Architecture</span></a>
            </li>

            <li>
                <a href="{% url 'architecture_image' %}" class="nav-link text-truncate">
                    <i class ="fs-5 bi bi-images"></i><span class="ms-1 d-none d-sm-inline">Architecture Image</span></a>
            </li>

            <li>
                <a href="{% url 'implementation' %}" class="nav-link text-truncate">
                    <i class ="fs-5 bi bi-gear-wide-connected"></i><span class="ms-1 d-none d-sm-inline">implementation</span></a>
            </li>

            <li>
                <a href="{% url 'socialrelevance' %}" class="nav-link text-truncate">
                    <i class ="fs-5 bi bi-diagram-3"></i><span class="ms-1 d-none d-sm-inline">Social Relevance</span></a>
            </li>

            <li>
                <a href="{% url 'applications' %}" class="nav-link text-truncate">
                    <i class ="fs-5 bi bi-diagram-3"></i><span class="ms-1 d-none d-sm-inline">Applications</span></a>
            </li>

            <li>
                <a href="{% url 'conclusion' %}" class="nav-link text-truncate">
                    <i class ="fs-5 bi bi-diagram-3"></i><span class="ms-1 d-none d-sm-inline">Conclusion</span></a>
            </li>

            <li>
                <a href="{% url 'references' %}" class="nav-link text-truncate">
                    <i class ="fs-5 bi bi-diagram-3"></i><span class="ms-1 d-none d-sm-inline">References</span></a>
            </li>

            
    
            <li class="dropdown">
                <a href="#" class="nav-link dropdown-toggle  text-truncate" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fs-5 bi-bootstrap"></i><span class="ms-1 d-none d-sm-inline">Bootstrap</span>
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="nav-link text-truncate">
                    <i class="fs-5 bi-grid"></i><span class="ms-1 d-none d-sm-inline">Products</span></a>
            </li>
            <li>
                <a href="#" class="nav-link text-truncate">
                    <i class="fs-5 bi-people"></i><span class="ms-1 d-none d-sm-inline">Customers</span> </a>
            </li>
        </ul>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col  py-3">
            <!-- toggler -->
            <button class="btn float-end" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
                <i class="bi bi-arrow-right-square-fill fs-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvas">

                 
                </i>
                
            </button>
            Menu
        </div>
    </div>
</div> 
