{% extends "bases/bootstrap-jquery.html" %}
{% load static %}

{% block nav %}
    <div class="navbar navbar-default navbar-static-top navbar-shadow" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">All Auth Demo</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            
            <li><a href=""><strong>Join</strong></a></li>
            <li><a href=""><strong>Log In</strong></a></li>
          </ul>
        </div>
      </div>
    </div>
{% endblock %}


